
<!-- <aside class="left-sidebar">
   
</aside> -->

<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class=" waves-dark" routerLink="/" aria-expanded="false"><i class="mdi mdi-heart"></i><span class="hide-menu">Ayudas</span></a></li>
                <li> <a class=" waves-dark" routerLink="/perfil" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Perfil</span></a></li>
                <li> <a class=" waves-dark" routerLink="/invitaciones" aria-expanded="false"><i class="mdi mdi-filmstrip"></i><span class="hide-menu">Invitaciones</span></a></li>
             </ul>
         
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>