
<!-- <aside class="left-sidebar">
   
</aside> -->

<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="waves-effect waves-dark" routerLink="/" aria-expanded="false"><i class="mdi mdi-heart"></i><span class="hide-menu">Ayudas</span></a></li>
                <li> <a class="waves-effect waves-dark" routerLink="/perfil" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Perfil</span></a></li>
                <li> <a class="waves-effect waves-dark" routerLink="/" aria-expanded="false"><i class="mdi mdi-filmstrip"></i><span class="hide-menu">Eventos</span></a></li>
            <!--     <li> <a class="waves-effect waves-dark" href="icon-material.html" aria-expanded="false"><i class="mdi mdi-emoticon"></i><span class="hide-menu">Icons</span></a></li>
                <li> <a class="waves-effect waves-dark" href="map-google.html" aria-expanded="false"><i class="mdi mdi-earth"></i><span class="hide-menu">Map</span></a></li>
                <li> <a class="waves-effect waves-dark" href="pages-blank.html" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">Blank</span></a></li>
                <li> <a class="waves-effect waves-dark" href="pages-error-404.html" aria-expanded="false"><i class="mdi mdi-help-circle"></i><span class="hide-menu">404</span></a></li>
            --> </ul>
         
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>