<div class="d-flex justify-content-end mb-3">
    <a href="index.html" class="btn btn-success waves-effect waves-light " routerLink="/finvitacion"><i class="fa fa-plus"></i>
        Crear Invitación</a>
</div>

<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="row">

            <div class="col-lg-4">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="stats">
                                <h1 class="text-white">9062+</h1>
                                <h6 class="text-white">Invitados</h6>
                                <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                            </div>
                            <div class="stats-icon text-right ml-auto"><i
                                    class="fa fa-envelope display-5 op-3 text-dark"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="stats">
                                <h1 class="text-white">6509+</h1>
                                <h6 class="text-white">Ingresados</h6>
                                <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                            </div>
                            <div class="stats-icon text-right ml-auto"><i
                                    class="fa fa-heart display-5 op-3 text-dark"></i></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card bg-info text-white">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="stats">
                                <h1 class="text-white">3257+</h1>
                                <h6 class="text-white">Pendientes</h6>
                                <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                            </div>
                            <div class="stats-icon text-right ml-auto"><i
                                    class="fa fa-user display-5 op-3 text-dark"></i></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="card col-lg-8">
                    <div class="card-body">
                        <div class="d-flex">
                            <h4 class="card-title"><span class="lstick"></span>Listado de Invitaciones</h4>
                        </div>

                        <div class="bg-light-inverse rounded p-2 text-right mb-4">

                            <div class="btn-group ml-2 row">
                                <button class="btn btn-info btn-sm text-white" (click)="find('1')">
                                    <i class="fa fa-filter"></i> Invitados
                                </button>
                                <button class="btn btn-info btn-sm text-white" (click)="find('2')">
                                    <i class="fa fa-filter"></i> Ingresados
                                </button>
                                <button class="btn btn-info btn-sm text-white" (click)="find('3')">
                                    <i class="fa fa-filter"></i> Pendientes
                                </button>
                            </div>

                        </div>
                        <div class="d-flex">
                            <h5 class="card-title font-italic text-uppercase">{{titulo}}</h5>
                        </div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Username</th>
                                        <th>Teléfono</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Deshmukh</td>
                                        <td>Prohaska</td>
                                        <td>@Genelia</td>
                                        <td>054943234545</td>
                                        <td>
                                            <a href="index.html"
                                                class="btn btn-info btn-sm btn-rounded waves-effect waves-light"><i
                                                    class="fa fa-envelope"></i>
                                                Enviar</a>
                                            <a href="index.html"
                                                class="btn btn-danger btn-sm btn-rounded waves-effect waves-light "><i
                                                    class="mdi mdi-account-remove"></i>Editar</a>

                                            <a href="index.html"
                                                class="btn btn-success btn-sm btn-rounded waves-effect waves-light"><i
                                                    class="fa fa-whatsapp"></i>
                                                Whatsapp</a> </td>

                                    </tr>
                                    <tr *ngFor="let a of pageOfItems">

                                        <td>{{a.typeDesc}}</td>
                                        <td>{{a.title}}</td>
                                        <td>{{a.description}}</td>
                                        <td>{{(a.created)*1000 | date:'yyyy/MM/dd h:mm:ss a'}}</td>
                                        <td>
                                            <ng-container *ngIf="estadoAyuda=='inp'">
                                                <button class="btn btn-info btn-sm btn-rounded waves-effect waves-light"
                                                    (click)="notificar(a.id)"><i
                                                        class="mdi mdi-account-check"></i>Notificar</button>
                                                <button href="index.html"
                                                    class="btn btn-danger btn-sm btn-rounded waves-effect waves-light mt-1"
                                                    (click)="updateAyuda('rej',a.id)"><i
                                                        class="mdi mdi-account-remove"></i>Rechazar</button>
                                            </ng-container>

                                            <ng-container *ngIf="estadoAyuda=='not'">
                                                <button href="index.html"
                                                    class="btn btn-danger btn-sm btn-rounded waves-effect waves-light ml-1"
                                                    (click)="updateAyuda('rej',a.id)"><i
                                                        class="mdi mdi-account-remove"></i>Rechazar</button>
                                            </ng-container>

                                            <ng-container *ngIf="estadoAyuda=='acc'">
                                                <button href="index.html"
                                                    class="btn btn-danger btn-sm btn-rounded waves-effect waves-light ml-1"
                                                    (click)="updateAyuda('not',a.id)"><i
                                                        class="mdi mdi-account-remove"></i>Liberar</button>
                                            </ng-container>

                                        </td>

                                    </tr>
                                    <!-- <tr *ngIf="listInvitaciones.length <= 0">
                                        <td colspan="5">No se encontraron registros de Invitaciones</td>
                                    </tr> -->

                                </tbody>

                            </table>
                            <jw-pagination [items]="listInvitaciones" (changePage)="onChangePage($event)">
                            </jw-pagination>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <h4 class="card-title"><span class="lstick"></span>Asociados</h4>
                            </div>
                            <div class="message-box contact-box">
                                <div class="message-widget contact-widget">
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/1.jpg" alt="user"
                                                class="img-circle"> <span
                                                class="profile-status online pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">info@wrappixel.com</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/2.jpg" alt="user"
                                                class="img-circle"> <span class="profile-status busy pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Sonu Nigam</h5> <span class="mail-desc">pamela1987@gmail.com</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <span class="round">A</span> <span
                                                class="profile-status away pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Arijit Sinh</h5> <span
                                                class="mail-desc">cruise1298.fiplip@gmail.com</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/4.jpg" alt="user"
                                                class="img-circle"> <span
                                                class="profile-status offline pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">kat@gmail.com</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/5.jpg" alt="user"
                                                class="img-circle"> <span
                                                class="profile-status offline pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Andrew</h5> <span class="mail-desc">and@gmail.com</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/6.jpg" alt="user"
                                                class="img-circle"> <span
                                                class="profile-status offline pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Jonathan Jones</h5> <span class="mail-desc">jj@gmail.com</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>