<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="row">

            <div class="col-lg-4">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="stats">
                                <h1 class="text-white">{{cantSoli}}+</h1>
                                <h6 class="text-white">Ayudas Solicitadas</h6>
                                <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14"
                                    (click)="find('inp')">Ver Lista</button>
                            </div>
                            <div class="stats-icon text-right ml-auto"><i
                                    class="fa fa-envelope display-5 op-3 text-dark"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="stats">
                                <h1 class="text-white">{{cantAte}}+</h1>
                                <h6 class="text-white">Atendidas</h6>
                                <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14"
                                    (click)="find('att')">Ver Lista</button>
                            </div>
                            <div class="stats-icon text-right ml-auto"><i
                                    class="fa fa-heart display-5 op-3 text-dark"></i></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card bg-info text-white">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="stats">
                                <h1 class="text-white">{{cantNoAte}}+</h1>
                                <h6 class="text-white">No atendidas</h6>
                                <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Ver Lista</button>
                            </div>
                            <div class="stats-icon text-right ml-auto"><i
                                    class="fa fa-user display-5 op-3 text-dark"></i></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="card col-8">
                    <div class="card-body">
                        <div class="d-flex">
                            <h4 class="card-title"><span class="lstick"></span>Listado de Ayudas</h4>
                        </div>

                        <div class="bg-light-inverse rounded p-2 text-right mb-4">

                            <div class="btn-group ml-2">
                                <button class="btn btn-info btn-sm text-white" (click)="find('inp')">
                                    <i class="fa fa-filter"></i> Solicitadas
                                </button>
                                <button class="btn btn-info btn-sm text-white" (click)="find('not')">
                                    <i class="fa fa-filter"></i> Notificadas
                                </button>
                                <button class="btn btn-info btn-sm text-white" (click)="find('nn1')">
                                    <i class="fa fa-filter"></i> Atendiendose
                                </button>
                                <button class="btn btn-info btn-sm text-white" (click)="find('att')">
                                    <i class="fa fa-filter"></i> Atendidas
                                </button>
                                <button class="btn btn-info btn-sm text-white" (click)="find('gra')">
                                    <i class="fa fa-filter"></i> Agradecidas
                                </button>
                                <button class="btn btn-info btn-sm text-white" (click)="find('rej')">
                                    <i class="fa fa-filter"></i> Rechazadas
                                </button>
                            </div>

                        </div>
                        <div class="d-flex">
                            <h5 class="card-title font-italic text-uppercase">{{titulo}}</h5>
                        </div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Titulo</th>
                                        <th>Descripcion</th>
                                        <th>Fecha</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of pageOfItems">

                                        <td>{{a.typeDesc}}</td>
                                        <td>{{a.title}}</td>
                                        <td>{{a.description}}</td>
                                        <td>{{(a.created)*1000 | date:'yyyy/MM/dd h:mm:ss a'}}</td>
                                        <td>
                                            <ng-container *ngIf="estadoAyuda=='inp'">
                                                <button class="btn btn-info btn-sm btn-rounded waves-effect waves-light"
                                                    (click)="notificar(a.id)"><i
                                                        class="mdi mdi-account-check"></i>Notificar</button>
                                                <button href="index.html"
                                                    class="btn btn-danger btn-sm btn-rounded waves-effect waves-light mt-1"
                                                    (click)="updateAyuda('rej',a.id)"><i
                                                        class="mdi mdi-account-remove"></i>Rechazar</button>
                                            </ng-container>

                                            <ng-container *ngIf="estadoAyuda=='not'">
                                                <button href="index.html"
                                                    class="btn btn-danger btn-sm btn-rounded waves-effect waves-light ml-1"
                                                    (click)="updateAyuda('rej',a.id)"><i
                                                        class="mdi mdi-account-remove"></i>Rechazar</button>
                                            </ng-container>

                                            <ng-container *ngIf="estadoAyuda=='nn1'">
                                                <button href="index.html"
                                                    class="btn btn-danger btn-sm btn-rounded waves-effect waves-light ml-1"
                                                    (click)="updateAyuda('not',a.id)"><i
                                                        class="mdi mdi-account-remove"></i>Liberar</button>
                                            </ng-container>

                                            <ng-container *ngIf="estadoAyuda=='att'">
                                                <button href="index.html"
                                                    class="btn btn-info btn-sm btn-rounded waves-effect waves-light"
                                                    (click)="updateAyuda('gra',a.id)"><i
                                                        class="mdi mdi-account-check"></i>Agradecer</button>
                                            </ng-container>


                                            <ng-container *ngIf="estadoAyuda=='gra'">
                                                <!-- Lista de Ayudas Agradecidas -->
                                                <!--  <button href="index.html"
                                                        class="btn btn-info btn-sm btn-rounded waves-effect waves-light"><i
                                                            class="mdi mdi-account-check"></i>Aprobar</button> -->
                                            </ng-container>

                                            <ng-container *ngIf="estadoAyuda=='rej'">
                                                <button href="index.html"
                                                    class="btn btn-info btn-sm btn-rounded waves-effect waves-light"
                                                    (click)="updateAyuda('inp',a.id)"><i
                                                        class="mdi mdi-account-check"></i>Reabrir</button>
                                            </ng-container>

                                        </td>

                                    </tr>
                                    <tr *ngIf="listAyudas.length <= 0">
                                        <td colspan="5">No se encontraron registros de ayuda</td>
                                    </tr>

                                </tbody>

                            </table>
                            <jw-pagination [items]="listAyudas" (changePage)="onChangePage($event)">
                            </jw-pagination>

                        </div>

                        <!--  <nav class="mt-2">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#rec"
                                    role="tab" aria-controls="nav-home" aria-selected="true">Recibidos</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#not"
                                    role="tab" aria-controls="nav-profile" aria-selected="false">Notificados</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#ates"
                                    role="tab" aria-controls="nav-profile" aria-selected="false">Atendiendse</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#ate"
                                    role="tab" aria-controls="nav-profile" aria-selected="false">Atendidos</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#agr"
                                    role="tab" aria-controls="nav-profile" aria-selected="false">Agradecidos</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#rech"
                                    role="tab" aria-controls="nav-profile" aria-selected="false">Rechazados</a>
                            </div>
                        </nav> -->

                        <!-- <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="rec" role="tabpanel"
                                aria-labelledby="nav-home-tab">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Titulo</th>
                                                <th>Descripcion</th>
                                                <th>Fecha</th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let a of pageOfItems">

                                                <td>{{a.typeDesc}}</td>
                                                <td>{{a.title}}</td>
                                                <td>{{a.description}}</td>
                                                <td>{{(a.created)*1000 | date:'yyyy/MM/dd h:mm:ss a'}}</td>
                                                <td>
                                                    <a href="index.html"
                                                        class="btn btn-info btn-sm btn-rounded waves-effect waves-light"><i
                                                            class="mdi mdi-account-check"></i>Notificar</a>
                                                    <a href="index.html"
                                                        class="btn btn-danger btn-sm btn-rounded waves-effect waves-light mt-1"><i
                                                            class="mdi mdi-account-remove"></i>Rechazar</a>
                                                </td>

                                            </tr>

                                        </tbody>

                                    </table>
                                    <jw-pagination [items]="listAyudasRecib" (changePage)="onChangePage($event)">
                                    </jw-pagination>

                                </div>


                            </div>

                            <div class="tab-pane fade" id="not" role="tabpanel" aria-labelledby="nav-home-tab">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>

                                                <th>Tipo</th>
                                                <th>Titulo</th>
                                                <th>Descripcion</th>
                                                <th>Fecha</th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>

                                                <td>Sanghani</td>
                                                <td>Gusikowski</td>
                                                <td>@Govinda</td>
                                                <td>@Govinda</td>
                                                <td>
                                                    <a href="index.html"
                                                        class="btn btn-danger btn-sm btn-rounded waves-effect waves-light ml-1"><i
                                                            class="mdi mdi-account-remove"></i>Rechazar</a>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="ates" role="tabpanel" aria-labelledby="nav-home-tab">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>

                                                <th>Tipo</th>
                                                <th>Titulo</th>
                                                <th>Descripcion</th>
                                                <th>Fecha</th>

                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>Sanghani</td>
                                                <td>Gusikowski</td>
                                                <td>@Govinda</td>
                                                <td>@Govinda</td>
                                                <td>
                                                   

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="ate" role="tabpanel" aria-labelledby="nav-home-tab">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>

                                                <th>Tipo</th>
                                                <th>Titulo</th>
                                                <th>Descripcion</th>
                                                <th>Fecha</th>

                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>Sanghani</td>
                                                <td>Gusikowski</td>
                                                <td>@Govinda</td>
                                                <td>@Govinda</td>
                                                <td>
                                                    <a href="index.html"
                                                        class="btn btn-info btn-sm btn-rounded waves-effect waves-light"><i
                                                            class="mdi mdi-account-check"></i>Agradecer</a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="agr" role="tabpanel" aria-labelledby="nav-home-tab">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>

                                                <th>Tipo</th>
                                                <th>Titulo</th>
                                                <th>Descripcion</th>
                                                <th>Fecha</th>

                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>Sanghani</td>
                                                <td>Gusikowski</td>
                                                <td>@Govinda</td>
                                                <td>@Govinda</td>
                                                <td>
                                                    <a href="index.html"
                                                        class="btn btn-info btn-sm btn-rounded waves-effect waves-light"><i
                                                            class="mdi mdi-account-check"></i>Aprobar</a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="rech" role="tabpanel" aria-labelledby="nav-home-tab">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>

                                                <th>Tipo</th>
                                                <th>Titulo</th>
                                                <th>Descripcion</th>
                                                <th>Fecha</th>

                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>Sanghani</td>
                                                <td>Gusikowski</td>
                                                <td>@Govinda</td>
                                                <td>@Govinda</td>
                                                <td>
                                                    <a href="index.html"
                                                        class="btn btn-info btn-sm btn-rounded waves-effect waves-light"><i
                                                            class="mdi mdi-account-check"></i>Aprobar</a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <h4 class="card-title"><span class="lstick"></span>Asociados</h4>
                            </div>
                            <div class="message-box contact-box">
                                <div class="message-widget contact-widget">
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/1.jpg" alt="user"
                                                class="img-circle"> <span
                                                class="profile-status online pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">info@wrappixel.com</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/2.jpg" alt="user"
                                                class="img-circle"> <span class="profile-status busy pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Sonu Nigam</h5> <span class="mail-desc">pamela1987@gmail.com</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <span class="round">A</span> <span
                                                class="profile-status away pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Arijit Sinh</h5> <span
                                                class="mail-desc">cruise1298.fiplip@gmail.com</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/4.jpg" alt="user"
                                                class="img-circle"> <span
                                                class="profile-status offline pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">kat@gmail.com</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/5.jpg" alt="user"
                                                class="img-circle"> <span
                                                class="profile-status offline pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Andrew</h5> <span class="mail-desc">and@gmail.com</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/6.jpg" alt="user"
                                                class="img-circle"> <span
                                                class="profile-status offline pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Jonathan Jones</h5> <span class="mail-desc">jj@gmail.com</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>