* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
#
body {
  background-color: lightblue;
}

@keyframes breath {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}
.holder {
  position: absolute;
  width: 300px;
  height: 300px;
  left: calc(50% - 150px);
  bottom: calc(50% - 150px);

  border-radius: 20px;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  transition: 0.9s linear;
}
.holder form {
  display: flex;
  flex-direction: column;

  width: 300px;
  height: 300px;

  align-items: center;
}

.holder form a {
  color: white;
  font-size: 40px;
}

.holder form input {
  padding: 5px;
  border-radius: 5px;
  margin: 10px;

  border: none;

  font-size: 16px;
}

button {
  padding: 10px 15px;
  border: none;

  font-size: 14px;

  margin-top: 20px;

  font-weight: bold;

  background-color: rgb(18, 212, 161);
  opacity: 0.4;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}

.fadeOut {
  animation: fadeOut linear 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.greetings {
  width: 600px;
  height: 300px;

  display: none;

  align-content: center;
  text-align: center;

  color: white;
  font-size: 26px;
}

.hello {
  font-size: 46px;
}

.user {
  font-size: 36px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}