<div class="cuerpo">

<div class='box'>
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
</div>


    <div class="login-page">

    <div class="form">
            <img src="assets/images/paTodos2.PNG" id="logo" alt="thumbnail" class="form-control img-thumbnail"
             style="width: 260px">

        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="ingresar()">

            <div class="form-group m-t-40">
                     <img src="assets/images/gif1.gif" style="width: 90px">

                <div class="col-12">
                      <label for="">Usuario</label>
                    <input type="text" formControlName="username" class="form-control" placeholder="Nombre de usuario"
                        [class.is-invalid]="isInvalid('username')">
                        
                    <div class="invalid-feedback">
                        <i class="fa fa-times-circle-o"></i> Este campo es <strong>requerido.</strong>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-12">
                    <label for="">Password</label>
                    <input type="password" formControlName="password" class="form-control" placeholder="Contraseña"
                        [class.is-invalid]="isInvalid('password')">
                    <div class="invalid-feedback">
                        <i class="fa fa-times-circle-o"></i> Este campo es <strong>requerido.</strong>
                    </div>
                </div>
            </div>
            <div class="form-group" *ngIf="msg">
                <div class="col-12 text-danger">
                    <strong><i class="fa fa-times-circle-o"></i> {{msg}}</strong>
                </div>
            </div>

            <button class="btn btn-info" type="submit">
                <i class="fa" [ngClass]="{'fa-sign-in': !loading, 'fa-spinner fa-spin': loading}"></i>
                Ingresar</button>

        </form>
    </div>
</div>
</div>