/* You can add global styles to this file, and also import other style files */

/* #themecolors a {
    cursor: pointer;
}

.no-rotate {
    -webkit-animation-name: none !important;
    animation-name: none !important;
}
  
.invalid-input {
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
}

.font-13-5{
    font-size: 13.5px !important;
} */